# only ignore the TODO file in the current directory, not subdir/TODO
/TODO

# ignore all files in the build/ directory
build/

# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log*

# dotenv environment variable files
.env*